*{
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

main>h1{
  color: #4A148C;
}

.header>h1,h2,h3,h4{
    color: #4A148C;
}


.grid-container{
  display: grid;
  grid-template-areas:
  'nav nav nav nav nav nav'
  'hd hd hd hd share share'
  '. main main main main .'
  'dash dash dash dash dash dash'
  'rost rost rost rost rost rost'
  'footer footer footer footer footer footer'
  ;
  grid-gap: 10px;
  background-color: #EDE7F6;
}

#test{
  grid-area: t;
}

.grid-container > div {
  background-color: rgba(255, 255, 255, 0.8);
  text-align: center;
}

.test{
  grid-area: nav;
}

/* Main sections */
.top-nav{
  grid-area: nav;
  background: purple;
  color: white;
  font-weight: bolder;
  padding: 2em;
}

.header{
  grid-area: hd;
  background: white;
  border-radius: 2em;
  padding: 1em 2em;
}

.social{
  grid-area: share;
  margin: 1px auto;
  padding: 0.5em;
}

.main-content{
  grid-area: main;
  text-align: center;
  margin: 3em auto;
  background: white;
  padding: 2em;
  border-radius: 2em;
}

.dashboard{
  grid-area: dash;
  background: white;
}

.social-icon{
  font-size: 1.5em;
  transition: all 100ms ease-out;
}

.social-icon:hover{
  font-size: 2em;
  color: purple;
}


/* Roster gen form */
.centered-form{
  display: grid;
  grid-row-gap: 1em;
  margin-top: 2em;
 }
 
 input{
   padding: 1em;
   border: 0.5px solid #B0BEC5;
   border-radius: 0.5em;
 }
 
 hr{
   width: 20%;
   border:1px solid deeppink;
   margin: 2em auto;
 }
 
 button{
  padding: 1em;
  border: 1px solid purple;
  background: purple;
  border-radius: 0.5em;
  color: white;
 }

 button:hover{
   font-weight: bolder;
 }
 
 .fa-plus-circle{
   font-size: 2em;
 }

 .fa-plus-circle:hover{
   color: purple;
 }

/* End */


.roster-container{
  grid-area: rost;
  margin: 2em auto;
  padding: 3em;
}

.footer{
  grid-area: footer;
  margin: 5em auto;
}

/* ..End main sections */
