*{
  padding: 0;
  margin: 0;
}


.grid-container{
  display: grid;
  grid-template-areas:
  'nav nav nav nav nav nav'
  'hd hd hd hd share share'
  'menu main main main main right'
  'dash dash dash dash dash dash'
  'footer footer footer footer footer footer'
  ;
  grid-gap: 10px;
  background-color: #2196F3;
}

.grid-container > div {
  background-color: rgba(255, 255, 255, 0.8);
  text-align: center;
  padding: 20px 0;
}





/* Main sections */
.top-nav{
  grid-area: nav;
  background: yellow;
}

.header{
  grid-area: hd;
  background: white;
}

.social{
  background: red;
  grid-area: share;
}

.main-content{
  grid-area: main;
}

.dashboard{
  grid-area: dash;
  background: navy;
}
/* ..End main sections */