.content-wrapper{
    background: white;
    padding: 4em;
    border-radius: 4em;
    text-align: center;
}

#calender-view{
    margin: 3em auto;
    text-align: center;
    justify-self: center;
}

